<%- include("header") %>

<div class="box" id="datum">
  <h1><%= danasnjiDatum %></h1>
</div>

  <div class="box1">
    <% for (i=0; i<novaLista.length; i++){ %>
        <div class="items">
          <input type="checkbox">
          <p><%= novaLista[i] %></p>
        </div>
    <% } %>

    <div class="form"> 

        <form class ="items" action="/" method="post">
          <input type="text" name="noviZadatak" placeholder="Za uraditi..." required  autocomplete="off" />
          <button type="submit" name="list">+</button>
        </form>
    </div>
  </div>
<%- include("footer") %>
